.form {
  display: grid;
  gap: 16px;
  grid-column: span 2;

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: 1 / 6;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding-inline: 14px;
    padding-block: 16px;
    border: 1px solid transparent;
    border-radius: 8px; // Заокруглення
    background-color: $color-btn--hov;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $color-text-main; // Підсвітка при натисканні
    }

    &:hover {
      border-color: $color-form--hov-border;
    }
  }

  &__textarea {
    min-height: 148px;
    resize: none;
  }

  &__button {
    width: 100%;
    margin-top: 24px;
    cursor: pointer;
    margin-block: 16px 48px;

    @include on-tablet {
      margin-block: 16px 80px;
    }
  }
}
