.menu {
  overflow: auto; /* to scroll the menu if needed */

  @include on-desktop {
    max-height: 720px;
  }

  &__top-bar {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;
    display: flex; // Змінюємо Grid на Flex для верхньої панелі
    justify-content: space-between; // Це розштовхає лого та хрестик по краях
    align-items: center;
    padding-block: 24px;

    @include on-tablet {
      padding-block-start: 32px;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1440px; // Або та ширина, яка у тебе в макеті для десктопа
    margin-inline: auto; // Центрує контент меню по центру екрана
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: 120px; // Це поверне іконки на їхні місця
    }
  }
}

.icon--close {
  background-image: url(/src/img/icons/Icon-Close.png);
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-block: 32px 48px;

    @include on-tablet {
      margin-block: 56px 48px;
      font-size: 22px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;

    &:hover {
      padding-bottom: 4px;
      border-bottom: 1px solid #292929;
      width: fit-content;
    }
  }

  &__phone-number {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    font-weight: 700;

    padding-bottom: 4px;
    border-bottom: 1px solid #292929;
    width: fit-content;
  }

  &__call-to-order--uc {
    text-transform: uppercase;
  }
}
